extends layoutPrivado.pug 

block contenido

  .container.mt-4

    h1.mb-4 Home

    .row

      each publicacion in publicaciones

        .col-12.mb-5

          .mx-auto(style="max-width:700px;")

            .card.border-0

              .card-body

                h5.card-title= publicacion.titulo

                p.card-text= publicacion.descripcion

                // SOLO LA PRIMERA IMAGEN
                if publicacion.Imagens.length > 0

                  img.rounded.mt-3.w-100(
                    src=publicacion.Imagens[0].src
                    style="max-height:500px; object-fit:cover;"
                  )

                  // SI HAY MAS DE UNA
                  if publicacion.Imagens.length > 1

                    p.mt-2.text-muted
                      | + #{publicacion.Imagens.length - 1} imágenes